html {
    box-sizing: border-box;
  
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body{
    background: url(./Imagenes/fondo5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
.titulo h1{
    font-family: 'MedievalSharp', cursive;
    color: white;
    text-align: center;
    padding: 10px;
    font-size:70px;
    font-weight: bolder;
}
.titulo{
    height: 80px !important;
}
.contenido-tablero{
    margin-top: 80px;
}
.tablero{
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
}
.tablero div{
    width: 200px;
    height: 200px;
    background-color: aliceblue;
    border: 1px solid black;
    display: grid;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    opacity: 0.5;
    padding: 5px;
}
.soldiers{
    display: flex;
    justify-content: center;
    align-items: center;
}
.soldiers h3{
    display: flex;
    font-family: 'MedievalSharp', cursive;
    color: white;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}
.orcs{
    display: flex;
    justify-content: center;
    align-items: center;
}
.orcs h3{
    display: flex;
    font-family: 'MedievalSharp', cursive;
    color: white;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.marcador img{
    background-color: transparent;
    width: 200px;
    height: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
}
/*Marcador de soldados*/
.marcador-soldados{
    position: relative;
    display: inline-block;
    text-align: center;
}
.marcador .wins-soldiers{
    width: 50px;
    height: 50px;
    text-align: center;
    font-family:  'MedievalSharp', cursive;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top:72%;
    left: 35%;
    color:white;
    margin: auto;
    background: transparent;
    border: none;
    
}
/*Marcador de orcos*/
.marcador-orcos{
    position: relative;
    display: inline;
    text-align: center;
}
.marcador .wins-orcs{
    width: 50px;
    height: 50px;
    text-align: center;
    font-family:  'MedievalSharp', cursive;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top:72%;
    left: 35%;
    color:white;
    margin: auto;
    background: transparent;
    border: none;
 
}
.marcador button{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    color: white;
    background-color: #966F33;
}
.reset button{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-family: 'MedievalSharp', cursive;
    font-weight: bold;
    background-color: #ec4d2b;
    color: white;
    border: 3px solid black;
    box-shadow: 0.15em 0.15em;
}
